/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #828b95;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-title {
    font-size: 1.5em;
    margin: 0;
    font-weight: bold;
}

.header-title a {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* .header-title a:hover{
    text-decoration: underline;
} */

.header-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 15px;
    font-size: 1em;
}

.header-links a:hover {
    text-decoration: underline;
}